<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>W</key>
    <integer>-5</integer>
    <key>Y</key>
    <integer>-10</integer>
    <key>Yacute</key>
    <integer>-10</integer>
    <key>Ydieresis</key>
    <integer>-10</integer>
    <key>public.kern2.v</key>
    <integer>-5</integer>
  </dict>
  <key>E</key>
  <dict>
    <key>s</key>
    <integer>-20</integer>
    <key>scaron</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>w</key>
    <integer>-20</integer>
    <key>y</key>
    <integer>-20</integer>
    <key>yacute</key>
    <integer>-20</integer>
    <key>ydieresis</key>
    <integer>-20</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>i</key>
    <integer>-7</integer>
    <key>public.kern2.A2</key>
    <integer>-31</integer>
    <key>public.kern2.a</key>
    <integer>-31</integer>
    <key>public.kern2.b</key>
    <integer>-24</integer>
    <key>public.kern2.c</key>
    <integer>-26</integer>
    <key>public.kern2.comma</key>
    <integer>-88</integer>
    <key>public.kern2.s</key>
    <integer>-10</integer>
    <key>public.kern2.v</key>
    <integer>-22</integer>
  </dict>
  <key>Idieresis</key>
  <dict>
    <key>Idieresis</key>
    <integer>85</integer>
  </dict>
  <key>J</key>
  <dict>
    <key>A</key>
    <integer>-20</integer>
    <key>AE</key>
    <integer>-36</integer>
    <key>Aacute</key>
    <integer>-20</integer>
    <key>Acircumflex</key>
    <integer>-20</integer>
    <key>Adieresis</key>
    <integer>-20</integer>
    <key>Agrave</key>
    <integer>-20</integer>
    <key>Aring</key>
    <integer>-20</integer>
    <key>Atilde</key>
    <integer>-20</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-13</integer>
    <key>public.kern2.b</key>
    <integer>-10</integer>
    <key>public.kern2.c</key>
    <integer>-18</integer>
    <key>public.kern2.v</key>
    <integer>-36</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>T</key>
    <integer>-54</integer>
    <key>V</key>
    <integer>-72</integer>
    <key>W</key>
    <integer>-41</integer>
    <key>t</key>
    <integer>-46</integer>
    <key>public.kern2.C</key>
    <integer>-24</integer>
    <key>public.kern2.U2</key>
    <integer>-24</integer>
    <key>public.kern2.Y</key>
    <integer>-72</integer>
    <key>public.kern2.a</key>
    <integer>-10</integer>
    <key>public.kern2.b</key>
    <integer>-14</integer>
    <key>public.kern2.c</key>
    <integer>-14</integer>
    <key>public.kern2.quoteright</key>
    <integer>-82</integer>
    <key>public.kern2.v</key>
    <integer>-65</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-41</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.comma</key>
    <integer>-106</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>a</key>
    <integer>-7</integer>
    <key>aacute</key>
    <integer>-7</integer>
    <key>acircumflex</key>
    <integer>-7</integer>
    <key>adieresis</key>
    <integer>-7</integer>
    <key>ae</key>
    <integer>-7</integer>
    <key>agrave</key>
    <integer>-7</integer>
    <key>aring</key>
    <integer>-7</integer>
    <key>atilde</key>
    <integer>-7</integer>
    <key>b</key>
    <integer>-7</integer>
    <key>c</key>
    <integer>-10</integer>
    <key>ccedilla</key>
    <integer>-10</integer>
    <key>d</key>
    <integer>-10</integer>
    <key>e</key>
    <integer>-10</integer>
    <key>eacute</key>
    <integer>-10</integer>
    <key>ecircumflex</key>
    <integer>-10</integer>
    <key>edieresis</key>
    <integer>-10</integer>
    <key>egrave</key>
    <integer>-10</integer>
    <key>g</key>
    <integer>-10</integer>
    <key>h</key>
    <integer>-7</integer>
    <key>i</key>
    <integer>-7</integer>
    <key>iacute</key>
    <integer>-7</integer>
    <key>icircumflex</key>
    <integer>-7</integer>
    <key>idieresis</key>
    <integer>-7</integer>
    <key>igrave</key>
    <integer>-7</integer>
    <key>k</key>
    <integer>-7</integer>
    <key>l</key>
    <integer>-7</integer>
    <key>m</key>
    <integer>-7</integer>
    <key>n</key>
    <integer>-7</integer>
    <key>ntilde</key>
    <integer>-7</integer>
    <key>o</key>
    <integer>-10</integer>
    <key>oacute</key>
    <integer>-10</integer>
    <key>ocircumflex</key>
    <integer>-10</integer>
    <key>odieresis</key>
    <integer>-10</integer>
    <key>oe</key>
    <integer>-10</integer>
    <key>ograve</key>
    <integer>-10</integer>
    <key>otilde</key>
    <integer>-10</integer>
    <key>p</key>
    <integer>-7</integer>
    <key>q</key>
    <integer>-10</integer>
    <key>r</key>
    <integer>-7</integer>
    <key>thorn</key>
    <integer>-7</integer>
    <key>u</key>
    <integer>-7</integer>
    <key>uacute</key>
    <integer>-7</integer>
    <key>ucircumflex</key>
    <integer>-7</integer>
    <key>udieresis</key>
    <integer>-7</integer>
    <key>ugrave</key>
    <integer>-7</integer>
    <key>v</key>
    <integer>-7</integer>
    <key>w</key>
    <integer>-7</integer>
    <key>y</key>
    <integer>-7</integer>
    <key>yacute</key>
    <integer>-7</integer>
    <key>ydieresis</key>
    <integer>-7</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>T</key>
    <integer>20</integer>
    <key>hyphen</key>
    <integer>-65</integer>
    <key>x</key>
    <integer>-41</integer>
    <key>public.kern2.A2</key>
    <integer>-44</integer>
    <key>public.kern2.a</key>
    <integer>-51</integer>
    <key>public.kern2.b</key>
    <integer>-51</integer>
    <key>public.kern2.c</key>
    <integer>-56</integer>
    <key>public.kern2.colon</key>
    <integer>-24</integer>
    <key>public.kern2.comma</key>
    <integer>-51</integer>
    <key>public.kern2.s</key>
    <integer>-41</integer>
    <key>public.kern2.v</key>
    <integer>-36</integer>
    <key>public.kern2.z</key>
    <integer>-45</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>hyphen</key>
    <integer>-34</integer>
    <key>public.kern2.A2</key>
    <integer>-16</integer>
    <key>public.kern2.C</key>
    <integer>-5</integer>
    <key>public.kern2.a</key>
    <integer>-31</integer>
    <key>public.kern2.b</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-25</integer>
    <key>public.kern2.colon</key>
    <integer>-10</integer>
    <key>public.kern2.comma</key>
    <integer>-72</integer>
    <key>public.kern2.s</key>
    <integer>-36</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>hyphen</key>
    <integer>-24</integer>
    <key>public.kern2.A2</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-28</integer>
    <key>public.kern2.b</key>
    <integer>-9</integer>
    <key>public.kern2.c</key>
    <integer>-17</integer>
    <key>public.kern2.comma</key>
    <integer>-31</integer>
    <key>public.kern2.v</key>
    <integer>-2</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-5</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.b</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-26</integer>
    <key>public.kern2.v</key>
    <integer>-46</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>v</key>
    <integer>-15</integer>
    <key>w</key>
    <integer>-15</integer>
    <key>y</key>
    <integer>-15</integer>
    <key>yacute</key>
    <integer>-15</integer>
    <key>ydieresis</key>
    <integer>-15</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>seven</key>
    <integer>-10</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>igrave</key>
    <integer>31</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.comma</key>
    <integer>-31</integer>
    <key>public.kern2.f</key>
    <integer>10</integer>
    <key>public.kern2.quoteright</key>
    <integer>31</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>seven</key>
    <integer>-20</integer>
  </dict>
  <key>i</key>
  <dict>
    <key>s</key>
    <integer>-10</integer>
    <key>scaron</key>
    <integer>-10</integer>
  </dict>
  <key>icircumflex</key>
  <dict>
    <key>b</key>
    <integer>31</integer>
    <key>l</key>
    <integer>31</integer>
  </dict>
  <key>idieresis</key>
  <dict>
    <key>idieresis</key>
    <integer>85</integer>
  </dict>
  <key>j</key>
  <dict>
    <key>j</key>
    <integer>20</integer>
  </dict>
  <key>k</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.b</key>
    <integer>-10</integer>
    <key>public.kern2.c</key>
    <integer>-20</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-31</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>seven</key>
    <integer>-20</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-10</integer>
    <key>public.kern2.comma</key>
    <integer>-61</integer>
    <key>public.kern2.quoteright</key>
    <integer>20</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>four</key>
    <integer>-20</integer>
    <key>nine</key>
    <integer>10</integer>
    <key>six</key>
    <integer>-20</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>seven</key>
    <integer>-36</integer>
  </dict>
  <key>t</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.c</key>
    <integer>-18</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.b</key>
    <integer>-10</integer>
    <key>public.kern2.c</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>T</key>
    <integer>-44</integer>
    <key>V</key>
    <integer>-20</integer>
    <key>W</key>
    <integer>-10</integer>
    <key>public.kern2.C</key>
    <integer>-6</integer>
    <key>public.kern2.U2</key>
    <integer>-10</integer>
    <key>public.kern2.Y</key>
    <integer>-44</integer>
    <key>public.kern2.b</key>
    <integer>7</integer>
    <key>public.kern2.quoteright</key>
    <integer>-51</integer>
    <key>public.kern2.v</key>
    <integer>-36</integer>
  </dict>
  <key>public.kern1.U</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-10</integer>
    <key>public.kern2.comma</key>
    <integer>-41</integer>
  </dict>
  <key>public.kern1.a2</key>
  <dict>
    <key>t</key>
    <integer>-10</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.quoteright</key>
    <integer>-15</integer>
    <key>public.kern2.v</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.b2</key>
  <dict>
    <key>t</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.v</key>
    <integer>-20</integer>
    <key>public.kern2.z</key>
    <integer>-26</integer>
  </dict>
  <key>public.kern1.s2</key>
  <dict>
    <key>t</key>
    <integer>-20</integer>
    <key>public.kern2.s</key>
    <integer>-10</integer>
    <key>public.kern2.v</key>
    <integer>-26</integer>
  </dict>
  <key>public.kern1.v2</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.b</key>
    <integer>-10</integer>
    <key>public.kern2.c</key>
    <integer>-20</integer>
    <key>public.kern2.comma</key>
    <integer>-51</integer>
    <key>public.kern2.quoteright</key>
    <integer>16</integer>
    <key>public.kern2.z</key>
    <integer>-13</integer>
  </dict>
  <key>public.kern1.z2</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.c</key>
    <integer>-26</integer>
  </dict>
</dict>
</plist>
