---
---

@import "{{ site.theme }}";

@import "Dinish-Regular.scss";
@import "Dinish-Bold.scss";

body, h1, h2, h3, h4, h5, h6 {
      font-family: DINish;
}

body {
  font-size: 20px;
}

.home_link_bottom {
  float: right;
}

.inner {
  position: relative;
  max-width: 800px;
  padding: 20px 10px;
  margin: 0 auto;
}

